<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"sustainable-theme-main main-content"} -->
<main class="wp-block-group sustainable-theme-main main-content">
  <!-- wp:template-part {"slug":"single-post-hero","area":"uncategorized"} /-->

  <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|fluid-medium","bottom":"var:preset|spacing|fluid-medium"}}},"layout":{"type":"constrained","contentSize":"930px"}} -->
  <div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--fluid-medium);padding-bottom:var(--wp--preset--spacing--fluid-medium)"><!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
  <!-- /wp:group -->

  <!-- wp:template-part {"slug":"single-post-related","area":"uncategorized"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
